DATABASE_URL=
AWS_ENDPOINT_URL_S3=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
# Solo para el seed (crear la cuenta de ella)
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
